{% extends 'base.html' %}


{% block content %}

{% if ticker %}
{{ ticker }}
{% endif %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col text-left">
            {% if api %}
            {% if api == "Error..." %}
            There was an error. Please check your spelling and try again. If issue persists please wait a minute and try
            again. If problem continues to persist, set your computer on fire.
            {% else %}

            <h1>{{ api.companyName }}</h1><br>
            Price: ${{ api.latestPrice }}<br>
            Previous Close Price: ${{ api.previousClose }}<br>
            Year-to-date Change: ${{ api.ytdChange }}<br>
            52 Week High: ${{ api.week52High }}<br>
            52 Week Low: ${{ api.week52Low }}<br>
            Market Cap: {{ api.marketCap }}<br>

            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}