{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if ticker %}
{{ ticker }}
{% endif %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div id='contentdata' class="col-sm-9 pt-4 ml-5 bg-success">
            {% if api %}
            {% if api == "Error..." %}
            There was an error. Please check your spelling and try again. If issue persists please wait a minute and try
            again. If problem continues to persist, set your computer on fire.
            {% else %}

            <h1>{{ api.companyName }}</h1><br>
            <h3>Price: <small>${{ api.latestPrice }}<br></small>
            Previous Close Price: <small>${{ api.previousClose }}<br></small>
            Year-to-date Change: <small>${{ api.ytdChange }}<br></small>
            52 Week High: <small>${{ api.week52High }}<br></small>
            52 Week Low: <small>${{ api.week52Low }}<br></small>
            Market Cap: <small>{{ api.marketCap }}<br></h3></small>

            {% endif %}
            {% endif %}
        </div>
    </div>
    <div id='contentgraph' class="row justify-content-center">
        <div class="col-sm-12">
            {% load static %} 
            <img class="img-fluid" src="{% static 'my_plot.png' %}" width="auto" alt="ticker graph" />
        </div>
    </div>
</div>
{% endblock %}